

ul#home{
 list-style-type: none;
    

 }
ul#home2{
    list-style-type:none;
}


body {
    background-image:url("http://36.media.tumblr.com/f4a675ffc6b9e5a0068bd335ab075352/tumblr_nqfe8gvbDe1smapx8o1_500.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.about {
    padding: 50px 70px;
   
    color: #ffffff;
    font-size: 16px;
    position:relative;
    left:200px;
    top:150px;
    background-color:#020452;
    outline: none;
    display:inline-flex;
    justify-content: center;
    opacity: 0.5;
  border-radius:50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.80);
   
    
}

.creation {
   padding: 50px 70px;
    padding-left: 10px;
    padding-right:10px;
    color: #ffffff;
    font-size: 16px;
    position:relative;
    right:90px;
    top:400px;
    background-color:#020452;
    outline: none;
    display:inline-flex;
    justify-content: center;
   border-radius:50%;
     opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.80);
    }

.LAB {
    
    padding: 50px 70px;
    
    color: #ffffff;
    font-size: 16px;
    position:relative;
    left:200px;
    top:150px;
    border-radius:50%;
    background-color:#020452;
    outline:none;
    display:inline-flex;
    justify-content: center;
     opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.80);
  
    
    }
    

.aroma {
   padding: 50px 70px;

color: #124559;
font-size: 25px;
position:relative;
right:100px;
top:400px;
border-radius:50%;
background-color:#020452;
outline: none;
display:inline-flex;
justify-content: center;
opacity: 0.5;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.80);
    
   
}


.explore {
    
     padding: 50px 70px;
    color: #ffffff;
    font-size: 16px;
    position:relative;
    
   border-radius:50%;
    background-color:#020452;
    outline: none;
    display:inline-flex;
    justify-content: center;
     opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.80);
}


 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
}
.p{
    position: absolute;
  bottom: 0;
  width: 50%;
  /* Set the fixed height of the footer here */
  height: 30px;
}






