body {
    background-image: url("http://www.degreefurniture.com/Clkj_Images/upfile/Bigpic/perfume%20display%20ideas.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

